.editor-wrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  background: #000000;
  width: 250px;
  border-radius: 7px;
  padding: 10px;
}
.editor-wrapper-hide {
  display: none;
}
.add-new-category,
.edit-category,
.delete-category {
  align-content: center;
  align-items: center;
  color: white;
  padding: 11px;
  cursor: pointer;
}

.add-new-category:hover,
.edit-category:hover,
.delete-category :hover {
 font-weight: bold;
}
.formWrapper{
  width:  100%;
}
.formWrapper-hide {
  padding: 10px;
}
.formWrapper-hide {
  display: none;
}
