@import "../../../Colors/ColorSchema.scss";
.group-span{
  width:100%;
  background: $dark;
  padding:2px;
  margin-top:15px;
  padding-left:7px;
  border-bottom:2px solid white;
  color:white;
  font-size: .8rem;
}
.listGroup-wrapper {
  width: 100%;
  padding: 5px;
  padding-top:10px;
}

.general-list {
  width: 100%;
  margin: auto auto;
}

@media (max-width: 600px) {
  .listGroup-wrapper {
    width: 100%;
    margin-top: 4px;
    padding: 5px;
    > ul {
      li {
        padding: 6px;
        font-size: 0.9rem;
      }
    }
  }
}
