@import "../../../Colors/ColorSchema.scss";
.general-item {
  background: $morelight;
  font-size: 1rem;
  cursor: pointer;
}
.general-item:hover {
  font-weight: bold;
}
.general-item-active {
  background: $secondary;
}
@media (max-width: 600px) {
  .general-item {
    padding: 6px;
  }
}
