@import "../../../Colors/ColorSchema.scss";
.CatInfo-main-wrapper {
  padding: 10px;
  width: 70%;
}

.list-location {
  list-style: none;
}

.view-mode-container {
  display: flex;

  .titles {
    width: 30%;
    > p {
      padding: 5px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.349);
    }
  }
  .values {
    width: 70%;
    > p {
      padding: 5px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.349);
    }
  }
}

.edit-mode-container {
  display: flex;
  .titles {
    width: 30%;
    margin-right: 15px;
    margin-top: 5px;
    padding: 5px;
  }
  .values {
    padding: 3px;
    width: 70%;
  }
  .btn-wrapper {
    width: 100%;
  }
  .btn-update {
    padding: 7px;
    border: 1px solid white;
    margin: 7px;
    border-radius: 5px;
    background: $dark;
    color: white;
    min-width: 89px;
  }
}
