@import "../../Colors/ColorSchema.scss";

.category-item {
  background: $light;
  font-size: 1rem;
  cursor: pointer;
}
.category-item:hover {
  background: $primary;

  font-weight: bold;
}
.category-item-active {
  background: $primary;
  color: $white;
}
