@import "../../../Colors/ColorSchema.scss";

.editor-section {
  position: relative;
}
.editor-wrapper {
 /*  height: 40px; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  background: $dark;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
}
.editor-wrapper-hide {
  display: none;
}
.add-new-category,
.edit-category,
.delete-category {
  align-content: center;
  align-items: center;
  color: $white;
  padding: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.add-new-category:hover,
.edit-category:hover,
.delete-category :hover {
  font-weight: bold;
}
.formWrapper {
  width: 100%;
}
.formWrapper-hide {
  padding: 10px;
}
.formWrapper-hide {
  display: none;
}
.tool-icon {
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  right: 0px;
  margin-top: auto;
  background: $secondary;
  color: white;
}
.editortool-title {
  
  margin:auto auto;
  color: $dark;
  text-align: center;
 
}
/* mobile */
@media (max-width: 750px) {
  .editor-wrapper {
    padding-left: 9%;
  }
  .tool-title {
    display: none;
  }

  .tool-icon {
    
    padding: 10px;
  }
  .toolicon {
    width: 2em !important;
    height: 2em !important;
    margin-right: 4px;
  }
}
