.modal-delete-main {
  margin-top: 10px;
  
  text-align: center;
  padding: 10px;
  background: transparent;
 
}
.modal-body {
  color: white;
}
.modal-content {
  background: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 11px;
  padding-top:10px;
  padding-bottom:10px;
}
.btn-modal {

  background: rgb(56, 56, 56);
  padding: 7px;
  min-width: 100px;
  border: 1px solid rgb(251, 251, 251);
  margin: 10px;
  color: rgb(255, 255, 255);
  border-radius: 11px;
}
.btn-wrapper{
    margin-top:10px;
}
