@import "../../../Colors/ColorSchema.scss";

.buttons-next-prev-wrapper {
  width: 100%;
  background: $dark;
  text-align: center;
}
.btn-next-prev {
  margin-left: 10px !important;
  margin-right: 10px !important;
  cursor: pointer;
  color:white;
  background: transparent ;
  border:none;
 
   .icons-prev-next {
   /*  color: $white; */
  }

}
.btn-next-prev:disabled{
cursor: not-allowed;
}
:disabled {
  background-color:transparent!important;
  color: rgb(119, 76, 122)!important;
  border: none;
}
