/* _colors.scss */
$primary: #c300ff;
$secondary: #da6dfb;
$tretiary: #03a9f4;
$light: #c29ee4;
$dark: #3f0361;
$grey: #919191;
$morelight: rgb(236, 209, 248);
$white: #ffffff;
$bg-gradient: radial-gradient(circle, rgba(203,140,237,1) 0%, rgba(194,158,228,1) 50%, rgba(218,109,251,1) 100%);