@import "../../Colors/ColorSchema.scss";

.bottombar-section {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 4px;
  background: $dark;
  color: $white;
  border: 1px solid $white;
}
.btn-bottombar {
  padding: 7px;
  border: 1px solid white;
  margin: 7px;
  border-radius: 5px;
  background: $dark;
  color: white;
  min-width: 89px;
}
.btn-selected {
  padding: 7px;
  border: 1px solid white;
  margin: 7px;
  border-radius: 5px;
  background: $secondary;
  color: $dark;
  min-width: 89px;
}

.btn-bottombar:hover {
  color: $white;
}
